// COLOR VARIABLES
$color-primary: #ff3147;

$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #fafafa;
$color-grey-dark-1: #808080;

// FONT VARIABLES
$font-primary: "Cormorant SC", serif;
$font-display: "Poppins", sans-serif;

//breakpoints
$bp-largest: 1920px;
$bp-large: 1700px;
$bp-medium: 1100px;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px
}

body {
    font-family: $font-primary;
}

.container {
    display: grid;
    width: 100vw;
    grid-template-columns: minmax(15rem, 1.2fr) repeat(4, minmax(20rem, 1fr)) minmax(15rem, 1.2fr);
    grid-template-rows: 80vh min-content min-content repeat(3, min-content);
}
