.qualities {
    grid-row: 3/4;
    grid-column: 2/6;

    &--h4 {
        font-size: 2.4rem;
        color: $color-primary;
        text-align: center;
        margin-bottom: 4rem;
        font-family: $font-primary;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10rem;
    }

    &--h2 {
        font-size: 4.5rem;
        font-family: $font-primary;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0px;
        margin-bottom: 6rem;
    }

    &__listing {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
    }

    &__icon {
        height: 7.5rem;
        width: 7.5rem;
    }

    &__heading {
        font-size: 2rem;
        font-family: $font-display;
        font-weight: 500;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    &__content {
        font-family: $font-display;
        font-weight: 400;
        font-size: 1.6rem;
    }
    @media only screen and(max-width: $bp-largest) {
        &__listing {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
            gap: 2rem;
            justify-content: center;
        }
    }

    @media only screen and(max-width: $bp-large) {
        &__listing {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            gap: 2rem;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    @media only screen and(max-width: 1100px) {
        &__listing {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
            gap: 3rem;
            justify-items: center;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
